{% extends 'base.html' %}

{% block HEADER %}Browse{% endblock %}

{% block EXTRA_BUTTONS %}
    {% if condition %}
        <!-- Hier fügen wir zusätzliche Buttons hinzu -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
             <button class="btn btn-dark me-md-4" type="button">Login</button>
             <button class="btn btn-dark me-md-3" type="button">Registeration</button>
        </div>
    {% else %}
        <!-- Hier fügen wir nur einen Button hinzu -->
         <button class="btn btn-dark me-md-3" type="button">Log out</button>
    {% endif %}
{% endblock %}

{% block CONTENT %}
 <div class="container mt-5 d-flex justify-content-center">
    <div class="col-md-4 py-3">
    <h1>Angebotsdetails</h1>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 text-center mb-3">
                    <h3 class="card-title">{{ offer['titel'] }}</h3>
                </div>
                <div class="col-md-6 offset-md-3">
                    <p class="card-text"><strong>Preis:</strong> {{ offer['preis'] }} €</p>
                    <p class="card-text"><strong>Beschreibung:</strong> {{ offer['angebotsbeschreibung'] }}</p>
                    <p class="card-text"><strong>Kategorie:</strong> {{ offer['kategorie'] }}</p>
                </div>
                <div class="col-md-6 offset-md-3">
                    <hr class="d-md-none"> <!-- Horizontal rule visible only on medium and larger screens -->
                    <p class="card-text"><strong>Verfügbare Taschen:</strong> {{ offer['anzahlTaschen'] }}</p>
                    <p class="card-text"><strong>Abholbeginn:</strong> {{ offer['abholStartZeit'] }}</p>
                    <p class="card-text"><strong>Abholende:</strong> {{ offer['abholEndZeit'] }}</p>
                </div>
                <div class="col-md-12 text-center">
                    <form action="{{ url_for('payment') }}" method="post">
                        <div class="form-group">
                            <label for="anzahl"><strong>Anzahl der Taschen:</strong></label>
                            <input type="number" class="form-control d-inline w-25" id="anzahl" name="anzahl" min="1" max="{{ offer['anzahlTaschen'] }}" required>
                            <input type="hidden" name="preis" value="{{ offer['preis'] }}">
                            <input type="hidden" name="offer_id" value="{{ offer['id'] }}">
                        </div>
                        <button type="submit" class="btn btn-warning btn-lg mt-3">
                            <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_200x51.png" alt="PayPal">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}