{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}

<!doctype html>
<html lang="en">
<!-- Das HTML-Dokument beginnt und die Sprache wird auf Englisch gesetzt -->
<head>
    <!-- Meta-Daten des Dokuments -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Seitentitel mit Platzhalter für den Block "TITLE" -->
    <title>{% block TITLE %}{% endblock %} </title>
    <!-- Bootstrap CSS laden -->
    {{ bootstrap.load_css() }}
</head>

<body>
<!-- Haupt-Container mit Bootstrap-Klassen für Rahmen, Schatten und Polsterung -->
<div class="container border shadow w-50 pb-3 my-3">

    <!-- Navigationsleiste -->
    <nav class="navbar navbar-expand-xl border-bottom mb-3">
        <div class="container-fluid px-0">
            <!-- Logo oder Branding der App -->
            <a class="navbar-brand" href="{{ url_for('/Home/') }}">Berlins Bakeries</a>
                <!-- Liste der Navigationselemente -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- Navigationspunkt "Browse" -->
                    {{ render_nav_item('Browse', 'browse') }}
                    <!-- Navigationspunkt "Favourites" -->
                    {{ render_nav_item('Favourites', 'favourites') }} 
                    <!-- Navigationspunkt "Favourites" -->
                    {{ render_nav_item('Profil', 'profil') }} 
                </ul>
            </div>
        </div>
    </nav>

    <!-- Platzhalter für den Header-Inhalt -->
    <header>{% block HEADER %} {% endblock %}</header>

    <!-- Hauptinhalt der Seite -->
    <main>
        <!-- Hauptinhalt wird hier eingefügt -->
    </main>

<footer class="footer">
        <div class="container">
            <div class="footer-content">
                <!-- Name der Webseite ganz links, Außenabstand (Margin) auf Null -->
                <p class="m-0">Berlins Bakeries</p>
                <!-- Links zu Impressum und Datenschutzerklärung -->
                <div class="footer-links">
                    <a class="text-decoration-none" href="#">Impressum</a>
                    <a class="text-decoration-none" href="#">Datenschutzerklärung</a>
                </div>
            </div>
        </div>
    </footer>

</div>
<!-- Bootstrap JS laden -->
{{ bootstrap.load_js() }}
</body>

</html>
