{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block TITLE %}{% endblock %}</title>
    {{ bootstrap.load_css() }}
</head>

<header class="container-fluid border-bottom mb-3">
    <nav class="navbar navbar-expand-xl">
        <div class="container-fluid px-1">
            <a class="navbar-brand display-1 fw-bold">Berlins Bakeries</a>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav me-md-4 mb-lg-0">
                    <li class="nav-item me-4">
                        {{ render_nav_item('browse', 'Browse') }}
                    </li>
                    <li class="nav-item me-4">
                        {{ render_nav_item('favourites', 'Favourites') }}
                    </li>
                    <li class="nav-item me-4">
                        {{ render_nav_item('profil', 'Profil') }}
                    </li>
                </ul>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    {% if session.get('user_id') %}
                        <form action="{{ url_for('logout') }}" method="POST">
                            <button class="btn btn-dark me-md-3" type="submit">Log out</button>
                        </form>
                    {% else %}
                        <button class="btn btn-dark me-md-4" type="button" onclick="location.href='{{ url_for('login') }}'">Login</button>
                        <button class="btn btn-dark me-md-3" type="button" onclick="location.href='{{ url_for('register') }}'">Registration</button>

                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>

<header class="text-center fw-bold display-3">{% block HEADER %}{% endblock %}</header>

<main class="container">
    {% block CONTENT %}{% endblock %}
</main>

<footer class="footer">
    <div class="container">
        <div class="footer-content d-flex justify-content-between">
            <a class="navbar-brand display-1">Berlins Bakeries</a>
            <div class="footer-rechts d-flex flex-column">
                <a class="text-decoration-none text-dark mb-2" href="#">Impressum</a>
                <a class="text-decoration-none text-dark mt-2" href="#">Datenschutzerklärung</a>
            </div>
        </div>
    </div>
</footer>

{{ bootstrap.load_js() }}
</body>
</html>
