{% extends 'base.html' %}

{% block HEADER %}Browse{% endblock %}

{% block EXTRA_BUTTONS %}
    {% if condition %}
        <!-- Hier fügen wir zusätzliche Buttons hinzu -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
             <button class="btn btn-dark me-md-4" type="button">Login</button>
             <button class="btn btn-dark me-md-3" type="button">Registeration</button>
        </div>
    {% else %}
        <!-- Hier fügen wir nur einen Button hinzu -->
         <button class="btn btn-dark me-md-3" type="button">Log out</button>
    {% endif %}
{% endblock %}

{% block CONTENT %}
<div class="container mt-5">
    <div class="row">
        {% for key, offer in offers.items() %}
            <div class="col-md-4 mb-4">
                <a href="{{ url_for('angebot_details', key=key) }}" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><strong>Preis:</strong> {{ offer['preis'] }} €</p>
                            <p class="card-text"><strong>Kategorie:</strong> {{ offer['kategorie'] }}</p>
                            <p class="card-text"><strong>Verfügbare Taschen:</strong> {{ offer['anzahlTaschen'] }}</p>
                            <p class="card-text"><strong>Abholbeginn:</strong> {{ offer['abholStartZeit'] }}</p>
                            <p class="card-text"><strong>Abholende:</strong> {{ offer['abholEndZeit'] }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
