{% extends 'base.html' %}

{% block HEADER %}
    <h1>{% block TITLE %}Company Registration{% endblock %}</h1>
{% endblock %}

{% block EXTRA_BUTTONS %}
        <!-- Hier fügen wir zusätzliche Buttons hinzu -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
             <button class="btn btn-dark me-md-3" type="button">Login</button>
        </div>
{% endblock %}

{% block CONTENT %}
  <div class="container mt-5 d-flex justify-content-center">
    <div class="col-md-3 py-3">
        <form method="POST" action="">
            {{ form.hidden_tag() }}

  
                <div class="form-group mb-3">
                    {{ form.firmenname.label(class="form-control-label font-weight-bold")}}
                    {{ form.firmenname(class="form-control", placeholder="Firmenname eingeben") }}
                </div>

                <div class="form-group mb-3">
                    {{ form.strasse.label(class="form-control-label font-weight-bold") }}
                    {{ form.strasse(class="form-control", placeholder="Straße eingeben") }}
                </div>

                <div class="form-group mb-3">
                    {{ form.stadt.label(class="form-control-label") }}
                    {{ form.stadt(class="form-control", placeholder="Stadt eingeben") }}
                </div>

                <div class="form-group mb-3">
                    {{ form.postleitzahl.label(class="form-control-label") }}
                    {{ form.postleitzahl(class="form-control", placeholder="Postleitzahl eingeben") }}
                </div>

                <div class="form-group mb-3">
                    {{ form.passwort.label(class="form-control-label")}}
                    {{ form.passwort(class="form-control", placeholder="Passwort eingeben") }}
                </div>

                <div class="form-group mb-3">
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control", placeholder="E-Mail eingeben") }}
                </div>

                <div class="form-group mb-3">
                    {{ form.öffnungszeit.label(class="form-control-label") }}
                    {{ form.öffnungszeit(class="form-control", placeholder="Öffnungszeit eingeben", type="time") }}
                </div>

                <div class="form-group mb-3">
                    {{ form.schließzeit.label(class="form-control-label") }}
                    {{ form.schließzeit(class="form-control", placeholder="Schließzeit eingeben", type="time") }}
                </div>

 <!-- 
                <h3>Öffnungszeiten</h3>
                {% set weekdays = ['Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag', 'Sonntag'] %}
                {% for idx, day in enumerate(weekdays) %}
                    <div class="form-group mb-3">
                        <label class="form-control-label font-weight-bold">{{ day }}</label>
                        {{ form.opening_hours[idx].openinghour(class="form-control", type="time") }}
                        {{ form.opening_hours[idx].closinghour(class="form-control", type="time") }}
                    </div>
                {% endfor %}
--> 
                <div class="form-check mb-3">
                    {{ form.agb(class="form-check-input") }}
                    {{ form.agb.label(class="form-check-label")}}
                </div>

                <div class="form-group mb-3">
                    {{ form.absenden(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}


