{% extends 'base.html' %}

{% block HEADER %}
    <h1>{% block TITLE %}Company Registration{% endblock %}</h1>
{% endblock %}

{% block EXTRA_BUTTONS %}
        <!-- Hier fügen wir zusätzliche Buttons hinzu -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
             <button class="btn btn-dark me-md-3" type="button">Login</button>
        </div>
{% endblock %}

{% block CONTENT %}
    <div class="container mt-5">
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.companyname.label(class="form-control-label") }}
                {{ form.companyname(class="form-control", placeholder="Enter company name") }}
            </div>

            <div class="form-group">
                {{ form.street.label(class="form-control-label") }}
                {{ form.street(class="form-control", placeholder="Enter street") }}
            </div>

            <div class="form-group">
                {{ form.city.label(class="form-control-label") }}
                {{ form.city(class="form-control", placeholder="Enter city") }}
            </div>

            <div class="form-group">
                {{ form.postcode.label(class="form-control-label") }}
                {{ form.postcode(class="form-control", placeholder="Enter postcode") }}
            </div>

            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control",  placeholder="Enter your password") }}
            </div>

            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control", placeholder="Enter your email") }}
            </div>

            <div class="form-group">
                {{ form.openinghour.label(class="form-control-label") }}
                {{ form.openinghour(class="form-control", placeholder="Enter opening hour") }}
            </div>

            <div class="form-group">
                {{ form.closinghour.label(class="form-control-label") }}
                {{ form.closinghour(class="form-control", placeholder="Enter closing hour") }}
            </div>

            <div class="form-check">
                {{ form.terms(class="form-check-input") }}
                {{ form.terms.label(class="form-check-label") }}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}

