{% extends 'base.html' %}

{% block HEADER %}Your Offer{% endblock %}

{% block EXTRA_BUTTONS %}
        <!-- Hier fügen wir nur einen Button hinzu -->
         <button class="btn btn-dark me-md-3" type="button">Log out</button>
{% endblock %}

{% block CONTENT %}
    <div class="container mt-5">
     
     <form method="POST" action="">
    {{ form.hidden_tag() }}  {# CSRF-Schutzfeld hinzufügen #}

    <div class="form-group">
        {{ form.offerdescription.label(class="form-control-label") }}
        {{ form.offerdescription(class="form-control", placeholder="Enter offer description") }}
    </div>

    <div class="form-group">
        {{ form.titel.label(class="form-control-label") }}
        {{ form.titel(class="form-control", placeholder="Enter title") }}
    </div>

    <div class="form-group">
        {{ form.category.label(class="form-control-label") }}
        {{ form.category(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.numberofbags.label(class="form-control-label") }}
        {{ form.numberofbags(class="form-control", placeholder="Enter number of bags") }}
    </div>

    <div class="form-group">
        {{ form.price.label(class="form-control-label") }}
        {{ form.price(class="form-control", placeholder="Enter price") }}
    </div>

    <div class="form-group">
        {{ form.startPickuptime.label(class="form-control-label") }}
        {{ form.startPickuptime(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.endPickuptime.label(class="form-control-label") }}
        {{ form.endPickuptime(class="form-control") }}
    </div>

    <div class="form-group form-check">
        {{ form.dailynumberofbags(class="form-check-input") }}
        {{ form.dailynumberofbags.label(class="form-check-label") }}
    </div>

    <div class="form-group form-check">
        {{ form.terms(class="form-check-input") }}
        {{ form.terms.label(class="form-check-label") }}
    </div>

    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>


    </div>
{% endblock %}
