{% extends 'base.html' %}

{% block HEADER %}Profil{% endblock %}

{% block EXTRA_BUTTONS %}
    {% if condition %}
        <!-- Hier fügen wir zusätzliche Buttons hinzu -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
             <button class="btn btn-dark me-md-4" type="button">Login</button>
             <button class="btn btn-dark me-md-3" type="button">Registeration</button>
        </div>
    {% else %}
        <!-- Hier fügen wir nur einen Button hinzu -->
         <button class="btn btn-dark me-md-3" type="button">Log out</button>
    {% endif %}
{% endblock %}

{% block CONTENT %}
    
{% endblock %}